<div id="carouselExampleSlidesOnly" class="vertical carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://api.lorem.space/image/movie?w=450&h=550" class="d-block w-100" alt="...">
    </div>
  <% @stretches.each do |stretch| %>
    <div class="carousel-item">
      <img src="https://api.lorem.space/image/fashion?w=450&h=550" class="d-block w-100" alt="...">
    </div>
  <% end %>
  </div>
</div>
