
<div data-controller="routine-start">
  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45" />
        <path
          data-routine-start-target="color"
          id="base-timer-path-remaining"
          stroke-dasharray="283"
          class="base-timer__path-remaining blue"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span data-routine-start-target="timer" class="base-timer__label">
      <!-- Remaining time label -->
    </span>
  </div>
</div>

<div id="carouselExampleSlidesOnly" class="vertical carousel slide" data-bs-ride="carousel" data-bs-interval='1000'>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://pocketyoga.com/assets/images/full/chair_twist_bind_up_L.png" class="d-block w-100" alt="...">
    </div>
  <% @stretches.each do |stretch| %>
    <div class="carousel-item">
      <img src= <%= stretch.photo %> class="d-block w-100" alt="...">
    </div>
  <% end %>
  </div>
</div>
