<% content_for :nonav, render('shared/nofoot') %>

<div class="car-container">
  <div id="carouselExampleSlidesOnly" class="vertical carousel slide" data-bs-ride="carousel" data-bs-interval='10000' data-bs-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://pocketyoga.com/assets/images/full/chair_twist_bind_up_L.png" class="d-block w-100" alt="...">
      </div>
    <% @stretches.each do |stretch| %>
      <div class="carousel-item">
        <h1><%= stretch.name %></h1>
        <img src= <%= stretch.photo %> class="stretch-img" alt="...">
      </div>
    <% end %>
    </div>
  </div>
</div>
