// Specific CSS for your home-page

.sport-card {
  background-color: rgba(75, 115, 149, 0.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  padding: 25px;
  text-decoration: none;
  color: #ffffff;
  border: none;

}

.myroutines{
  background-color: rgba(75, 115, 149, 0.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  padding: 25px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  background-position: center;
}

.header {
  text-align: center;
  padding-bottom: 16px;
  h1 {
    color: #000000 !important;
    font-size: 33px;
  }
}

a {
  text-decoration: none;
}
