// Specific CSS for your home-page

.sport-card {
  background-color: rgba(75, 115, 149, 0.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  padding: 25px;
  text-decoration: none;
  color: #3f3fff;
  border: none;

}

.header {
  text-align: center;
}

a {
  text-decoration: none;
}
