.bg-img {
  background-image: url("https://www.10wallpaper.com/wallpaper/1920x1080/1606/Yoga_silhouette_beautiful_waterside-2016_Sport_HD_Wallpaper_1920x1080.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.container-landing {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-radius: 15px;
  --bs-primary: #dab88b;
  --bs-primary-rgb: 218,184,139;
  background: var(--bs-primary);
  color: #fdf6ec;
  border-width: 0px;
  align-items: center;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FDF6EC;
  size: 100%;
  letter-spacing: -0.1rem;
  font-size: 15vw;
}

.search-input {
  background-color: transparent;
  border: none;
  color: #FDF6EC;
}

.land-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.landnav a{
  color: #FDF6EC;
}

.landnav li{
  color: #FDF6EC;
}
