// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.routine-card {
  padding: 10px;
  background-color: rgba(75, 115, 149, 0.5);
  margin: 16px;
  border-radius: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  // align-items: baseline;

  p{
    color: white;
  }

  h3{
    color: white;
  }
}

.routbtn {
  color: white;

  &:hover {
    border: 1px solid rgb(197, 197, 197);
    color: rgb(10, 10, 10);
  }
}

.routine-img-sport{
  position: relative;
  border-radius: 8px 8px 0px 0px;
  max-width: 300px;
  max-height: 300px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;
  margin: auto;
}

.card-text-sport {
  color: rgb(255, 255, 255);
  text-transform: lowercase;
  font-size: 18px;
  // font-family: 'Jost', sans-serif;
  font-weight: normal;
  text-align: center;
  margin: auto;
}

.card-title-sport {
  color: rgb(255, 255, 255);
  text-transform: lowercase;
  font-size: 26px;
  text-align: center;
  margin: auto;
}

.routine-foot-sports{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4b729570;
  border-radius: 10px;
  height: 187px;
  width: auto;
}
