// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.routine-card {
  padding: 10px;
  background-color: rgba(75, 115, 149, 0.5);
  margin: 16px;
  border-radius: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  // align-items: baseline;
}

.routbtn {
  color: rgb(9, 9, 9);

  &:hover {
    border: 1px solid rgb(197, 197, 197);
    color: rgb(10, 10, 10);
  }
}

.routine-pic {
  // clip: rect(0px,50px,100px,0px);
  // width: 40%;
  // object-fit: fill;
}
