.float {
  background-color: rgba(75, 115, 149, 0.2);
  padding: 16px;
  width: 65%;
  border: none;
  height: 60vh;
  color: white;
  border-radius: 10px 0 0 10px;

  h4 {
    color: white;
  }
}

.show-pic {
  // padding-left: 45px;
  width: 50%;
  height: auto;
  align-items: center;
}

.pic {
  width: 100%;
  height: auto;
}
