#stretches_routine_routine {
  border-radius: 8px;
  height: 36px;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
}

.add-btn{
  margin-top: auto;
  margin-bottom: auto;
}


.selector {
  margin-top: auto;
  margin-bottom: auto;
}

.stretch-footer {
  margin-bottom: 10px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.new_stretches_routine{
  display: flex;
  justify-content: space-evenly;
}
