<h1>Home</h1>

<h4>Sport routines</h4>
<% @sports.each do |s| %>
<li><%= link_to s.name, sport_path(s) %></li>
<% end %>


<h4>My routines</h4>
<% @myroutines.each do |m| %>
<li><%= link_to m.name, sport_path(m) %></li>
<% end %>
<%= link_to 'Create new routine', new_sport_path %>

