<div class='routine-container'>
  <h1 class='text-center'><%= @sport.name %></h1>
   <div class="owl-carousel" data-controller="home-carousel">
    <% @routines.each do |r| %>
      <%= link_to routine_path(r) do %>
        <div class="routine-img"><img src="https://43nnuk1fz4a72826eo14gwfb-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/0207.10-Min-Stretch-Blog-Inline-Pankcake.jpg" alt=""></div>
        <div class='routine-foot-sports'>
          <div class='card-title-sport'><%= r.name %></div>
          <div class="card-text-sport"><%= r.description %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
