
<div class='container'>
  <h1><%= @sport.name %></h1>

  routines for this sport:
  <div class='d-flex justify-content-around'>
    <% @routines.each do |r| %>
      <div class='card routine-card'>
        <h3><%= r.name %></h3> <p><%= r.description %></p> <%= link_to 'go', routine_path(r) %>
      </div>
    <% end %>
  </div>
</div>
