
<div class='container'>
  <h1 class='text-center'><%= @sport.name %></h1>
  <div class='d-flex flex-column justify-content-around'>
    <% @routines.each do |r| %>
      <%= link_to routine_path(r), class: 'card routine-card d-flex flex-row' do %>
        <div>
          <h3><%= r.name %></h3>
          <p><%= r.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
