<div class="bg-img">
  <h2>eh</h2>
  <div class="centered">welcomet.</div>
  <h1>hello world</h1>
</div>

<div class="content-container" data-hijacking="off" data-animation="scaleDown">
 <section class="container">
  <h2>Caption</h2>
  <div class="text-container">
    <div class="text-box">
      <h3>Section Text</h3>
      <p>Random text</p>
    </div>
    <div class="text-box">
      <h3>Section Text</h3>
      <p>Random text</p>
    </div>
    <div class="text-box">
      <h3>Section Text</h3>
      <p>Random text</p>
    </div>
  </div>
</section>
</div>
