<div class="footer" <%= "nofooter" if current_page?(routines_path) %>>
  <div class="foot-element">
    <a href="../home">
      <div class="icon"><i class="fa-solid fa-house"></i></div>
      <div class="foot-text"><p>home</p></div>
    </a>
  </div>
  <div class="foot-element">
    <a href="../soprts">
      <div class="icon"><i class="fa-solid fa-basketball"></i></div>
      <div class="foot-text"><p>sports</p></div>
    </a>
  </div>
  <div class="foot-element">
    <a href="../routines">
      <div class="icon"><i class="fa-solid fa-list"></i></div>
      <div class="foot-text"><p>routines</p></div>
    </a>
  </div>
  <div class="foot-element">
    <a href="../stretches">
      <div class="icon"><i class="fa-solid fa-person-running"></i></div>
      <div class="foot-text"><p>stretches</p></div>
    </a>
  </div>
</div>
