<div class="footer" <%= current_page?(root_path)  %>>
  <div class="foot-element">
    <a href="../home">
      <div class="icon"><i class="fa-solid fa-house"></i></div>
      <div class="foot-text"><p>home</p></div>
    </a>
  </div>
  <div class="foot-element">
    <a href="../stretches">
      <div class="icon"><i class="fa-solid fa-person-running"></i></div>
      <div class="foot-text"><p>stretches</p></div>
    </a>
  </div>
</div>
