<div class="footer" <%= "nofooter" if current_page?(routines_path) %>>
  <div class="foot-element">
    <div class="icon"><i class="fa-solid fa-house-blank"></i></div>
    <div class="foot-text"><p>home</p></div>
  </div>
  <div class="foot-element">
    <div class="icon"><i class="fa-solid fa-tennis-ball"></i></div>
    <div class="foot-text"><p>sports</p></div>
  </div>
  <div class="foot-element">
    <div class="icon"><i class="fa-solid fa-list"></i></div>
    <div class="foot-text"><p>routines</p></div>
  </div>
  <div class="foot-element">
    <div class="icon"><i class="fa-solid fa-person-running"></i></div>
    <div class="foot-text"><p>stretches</p></div>
  </div>
</div>
