<div class="nofooter">
  <div class="nofoot-element">
    <a href="../home">
      <div class="icon"><i class="fa-solid fa-house"></i></div>
      <div class="foot-text"><p>home</p></div>
    </a>
  </div>
  <div class="nofoot-element">
    <a href="../soprts">
      <div class="icon"><i class="fa-solid fa-pause"></i></div>
      <div class="foot-text"><p>pause</p></div>
    </a>
  </div>
  <div class="nofoot-element">
    <a href="../routines">
      <div class="icon"><i class="fa-solid fa-rotate-left"></i></div>
      <div class="foot-text"><p>back</p></div>
    </a>
  </div>
  <div class="nofoot-element">
    <a href="../stretches">
      <div class="icon"><i class="fa-solid fa-bookmark"></i></div>
      <div class="foot-text"><p>save</p></div>
    </a>
  </div>
</div>
