<div class="nofooter">
  <div class="nofoot-element">
    <%= link_to home_path do %>
      <div class="icon"><i class="fa-solid fa-house"></i></div>
    <% end %>
  </div>
  <div class="nofoot-element">
    <a>
      <div class="icon"><i class="fa-solid fa-headphones"></i></div>
    </a>
  </div>
  <div class="nofoot-element">
    <a href="#">
      <div class="icon"><i class="fa-solid fa-arrow-rotate-left"></i></div>
    </a>
  </div>
</div>
