<div class="bg-img">

  <%# <div class="text-container reveal fade-bottom">
    <div class="centered-title">welcometogasho.</div>
  </div> %>

  <section>
    <div class="centered-title container-landing">
    welcometogasho.
    <%= link_to "sign-up", new_user_registration_path %>
    <%= link_to "log in", new_user_session_path %>
    </div>
  </section>

  <section id="sports">
    <div class="container-landing reveal">
      <h2>sports</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>football</h3>
          <p>
            Your glutes, quadriceps and hamstrings provide the force behind many football movements, and they often work together. Your glutes, located in your buttocks, along with your hamstrings, drive your legs back behind you. Your quadriceps, a collection of four muscles at the fronts of your thighs, extend your knees.
          </p>
        </div>
        <div class="text-box">
          <h3>basketball</h3>
          <p>
            The shoulder, chest, biceps and triceps are all muscle areas that basketball players use during play. The triceps are a critical muscle when shooting long-range baskets such as three-pointers. Building triceps muscles helps players who shoot well from close distances but struggle with deep shooting.
          </p>
        </div>
        <div class="text-box">
          <h3>tennis</h3>
          <p>
            It all starts from the ground when your feet push off the court to move towards the ball. Then, this energy created by this first event is successively transferred into other parts of your body. The energy goes from your lower-body muscles to your core, and then to your upper body muscles. And finally, the energy travels from your hand to the racquet and then to the ball.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="routines">
    <div class="container-landing reveal">
      <h2>routines</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>football stretch routine</h3>
          <p>
            We recommend stretching the following areas for football-related stretching.
              Hip flexors
              Front thigh
              Rear thigh
              Calf
              Inner thigh
              Glutes
              Outer thigh
          </p>
        </div>
        <div class="text-box">
          <h3>basketball stretch routine</h3>
          <p>
            We recommend the following stretches for basketball-related stretching.
              Ankle rolls
              Walking lunges
              Squats
              Lateral hip swings
              Walking quadricep stretch
              Walking knee hugs
              Karaoke
          </p>
        </div>
        <div class="text-box">
          <h3>tennis stretch routine</h3>
          <p>
            We recommend the following stretches for basketball-related stretching.
              Standing quadriceps stretch
              Simple hamstring stretch
              Low lunge twist
              Cross body shoulder
              Towel calf
              Anterior shoulder
              Tennis elbow stretch
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="stretches">
    <div class="container-landing reveal">
      <h2>stretches</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>extended side angle</h3>
          <img src="https://pocketyoga.com/assets/images/full/warrior_ii_forward_arm_forward_L.png" alt="" widht="200px" height="300px">
        </div>
        <div class="text-box">
          <h3>butterfly</h3>
          <img src="https://pocketyoga.com/assets/images/full/butterfly.png" alt="" widht="200px" height="300px">
        </div>
        <div class="text-box">
          <h3>wide splits</h3>
          <img src="https://pocketyoga.com/assets/images/full/splits_wide.png" alt="" widht="200px" height="300px">
        </div>
      </div>
    </div>
  </section>
</div>
