<div id="carouselExampleSlidesOnly" class="vertical carousel slide" data-bs-ride="carousel">
  <% @stretches.each do |stretch| %>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <% end %>
</div>
