.btn-primary {
  border-radius: 8px;
  --bs-primary: rgb(58, 147, 187);
  --bs-primary-rgb: 58,147,187;
  background: var(--bs-primary);
  color: #fdf6ec;
  border-width: 0px;
  align-items: center;
  text-align: center;
}
.btn-primary:hover{
  border-radius: 8px;
  --bs-primary: rgb(30, 55, 78);
  --bs-primary-rgb: 218,184,139;
  background: var(--bs-primary);
  color: #fdf6ec;
  border-width: 0px;
  align-items: center;
  text-align: center;
}

.btn-secondary {
  border-radius: 8px;
  --bs-primary: #4B7396;
  --bs-primary-rgb: 218,184,139;
  background: var(--bs-primary);
  color: #fdf6ec;
  border-width: 0px;
  align-items: center;
  text-align: center;
}

.btn-unset {
  all: unset;
  cursor: pointer;
}

#search-button {
  color: rgb(25, 41, 60);
  position: relative;
  right: 26px;
  top: 2px;
}
