.landnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background : transparent;
  font-family: 'Jost', sans-serif;
  position : fixed;
  min-width: 1vw;
  color: #FDF6EC !important;
  z-index: 100;
}

.navbar {
  background : transparent;
  font-family: 'Jost', sans-serif;
  min-width: 1vw;
  color: #FDF6EC;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.nav-2 {
  display: flex;
  justify-content: flex-end;
}

.landnav a{
  text-decoration: none;
  color: black !important;
}

header nav a:hover,
header nav a.active {
  background: #fdf6ec;
  color: #4b7396;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

.nonav {
  display: none !important;
}
