.landnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background : transparent;
  font-family: 'Zen Kurenaido', sans-serif;
  position : fixed;
  min-width: 1vw;
  color: #FDF6EC !important;
}

.navbar {
  background : transparent;
  font-family: 'Zen Kurenaido', sans-serif;
  min-width: 1vw;
  color: #FDF6EC;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.nav-2 {
  display: flex;
  justify-content: flex-end;
}

.landnav a{
  text-decoration: none;
  color: black !important;
}
