// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/navbar";
@import "components/footer";
@import "pages/index";
@import "pages/routines";
@import "pages/sports";
@import "pages/stretches";
@import "pages/landing";
@import "pages/routinestart";
@import "components/nofoot";

*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
}

body {
  // background-color: #FDF6EC;
  background-image: url('https://wallpaperaccess.com/full/1732280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: calc(100vh - 60px);
  overflow: scroll;
}

h1 {
  color: #FDF6EC;
}

// .container {
//   background-image: url("https://cdn.wallpapersafari.com/89/0/FMUKS8.jpg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }
